.document-container {
  position: relative;

  .overflow-container {
    overflow: auto;
    position: relative;
    height: 100%;
  }

  .document-text {
    line-height: 28px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;

    &.non-selectable {
      user-select: none;
      color: transparent;
    }

    .highlighted {
      background: #fff387;
      cursor: pointer;
    }
  }
}