.tag-tree-selector-container {
  padding: 20px;

  .tag-tree-selector {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 10px;
    line-height: 28px;
  }
}

.tag-tree {
  padding: 0 30px;

  .tag-option {
    cursor: pointer;
    font-size: 14px;
    line-height: 22px;

    .highlighted {
      background: #ccf2ae;
      border-radius: 10px;
      padding: 0 4px;
    }
  }

  .counter {
    margin-left: 5px;
    font-size: 12px;
  }
}



